* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins' , sans-serif;
    --mianColor: #3d3d3d ;
}
.container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}
.logo {
    width: 40px;
    transition: 0.2s ease;
}
.logo:hover {
    transform: scale(0.8);
    opacity: 0.6;
}
.menu {
    display: flex;
    margin-left: 80px;
}
.menu li a {
    text-decoration: none;
    padding-left: 30px;
    color:  var(--mianColor);
    text-align: center;
    transition: 0.2s ease;
}
.menu li a:hover {
    opacity: 0.7;
}
.open-menu {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    display: none;
}
.open-menu i {
    font-size: 2rem;
    color: var(--mianColor);
}
#check {display: none;}
.inner-container {
    width: 100%;
    height: calc(100vh - 67px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-column {
    flex: 1;
    color: var(--mianColor);
    margin-left: 20px;
}
.description {text-align: justify;}
.weapon-name {font-size: 2rem;}
.right-column {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.image-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: grid;
    place-items: center;
    padding: 10px;
    position: relative;
}
.image-wrapper img {width: 85%;}
.weapons {
    align-self: center;
    display: flex;
}
.weapon {
    width: 120px;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,16%);
    padding: 0 20px;
    display: grid;
    place-items: center;
    margin-left: 2px;
    transition: border 0.25s ease;
}
.weapon img {width: 100%;}
.weapon:hover {
    border-color: #000;
}
.image-wrapper::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80%;
    z-index: -1;
    background: rgba(0,0,0,0.2);
    clip-path: circle();
}
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 10px 20px;
    margin-top: 30px;
    color: #fff;
    background-color: var(--mianColor);
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,16%);
    transition: 0.2s ease-in-out;
    text-decoration: none;
}
.btn img {
    width: 25px;
    transition: 0.15s ease;
}
.btn:hover {
    background-color: #000;
}
.btn:hover img {
    transform: scale(0.5);
}
/* media queries */
@media(max-width:940px) {
    .inner-container {
        flex-direction: column;
        min-height: 100vh;
    }
    .left-column {
        order: 2;
        margin-right: 20px;
    }
}
@media(max-width:610px){
    .menu {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,16%);
        transition: right 0.25s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu {display: block;}
    #check:checked ~ .menu {
        right: 0;
    }
}
@media(max-width:470px){
    .weapon {width: 100px;}
    .image-wrapper {height: 300px;}
    .weapon-name {font-size: 1.5rem;}
}
@media(max-width:400px){
    .description {font-size: 12px;}
}
@media(max-width:350px){
    .weapon {width: 90px;}
    .weapon-name {font-size: 1rem;}
}



